// Custom.scss
// Option A: Include all of Bootstrap
@import url("https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arya:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
// Include any default variable overrides here (though functions won't be available)


// body bg color
$body-bg: #FFA613;


// Theme colors
// https://getbootstrap.com/docs/5.3/customize/color/#theme-colors
$primary: #F1836A;
$secondary: #FFA613;
$success: #5A021A;
$info: #C31717;
$warning: #C31717;
$danger: #dd7596;
$light: #f2f2f2;
$dark: #404e5c;


// Changing navbar
$navbar-light-color: black;
$navbar-light-hover-color: white;
$navbar-light-active-color: white;


// Typography
$font-family-sans-serif: "Arya", sans-serif;
$headings-font-family: "Ubuntu", serif;


$h1-font-size: 1rem * 8;
$h2-font-size: 1rem * 2;
$h3-font-size: 1rem * 1.75;


$line-height-base: 1.6;


@import "../node_modules/bootstrap/scss/bootstrap";


// Then add additional custom code here
#hero {
    height: 800px;
    background-color: #E4E6DB;
    background-image: url(../images/home-hero-photo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.hero-btn {
    font-family: "Ubuntu", sans-serif;
    font-weight:700;
    font-size: 4rem;
    color: #5A021A;
    margin-top: 20rem;


&:hover {
    color: white;
}
}


#intro {
    font-family: "Ubuntu", sans-serif;
}

.btn-success :hover {
    color:#FFA613;
}

.col-sm-4 {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#franchise {
    height: 800px;
    background-color: #E4E6DB;
    background-image: url(../images/home-hero-photo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
